*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    font-family: "Poppins",sans-serif;
}
body{
    overflow: hidden;
    
}
.cabecalho{
    position:relative;
    background-color: rgb(25, 40, 104);
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 7vh;
    border: solid 2px #000302;
    border-bottom: 15px;
    
}
.nome-promotor{
    position: absolute;
    top: 15px;
    left: 50%;
    color: rgb(255, 251, 251);
    text-shadow:  #25699100 -2px 0px 1px;
    transform: translate(-50%);
    font-size: 9px;
  
}
.lojas {
    font-size: 20px;
    display:flex;
    flex-direction:column ;
    background-color: white;
    overflow-y: scroll;  
}
.flex-item {
    width: px;
    height:px;
    background: rgba(245, 245, 247, 0.753);
    margin: 3px;
}
.flex-item img{
    width:150px;
    height: 150px;
}
.flex-item h1{
    font-size: 15px;
}
.detalhes {
    position:absolute;
    left: 160px; 
}
.menu{
    position: absolute;
    font-size: 30px;
    left: 95%;
    top: 6px;
    
}
.cabecalho-pe{
    position:fixed;
    background-color: rgb(25, 40, 104);
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 7vh;
    top: 93%;
    border: solid 2px #000302;
    border-bottom: 15px;
}
.nav-bar-pe{
    position: fixed;
    top: 95%;
    left: 50%;
    color: #59df24f1;
    
    transform: translate(-50%);
    font-size: 9px;

}
.menu-baixo{
    position: absolute;
    font-size: 30px;
    left: 70%;
    top: 6px;
}