*{
    margin: 0;
    padding: 0;
    box-sizing: order-box;
    text-decoration: none;
    list-style: none;
    font-family: "Poppins",sans-serif;
    

}

body{
    overflow: hidden;
    overflow-y: scroll;
    
}

.cabecalho{
    position:relative;
    background-color: rgb(255, 255, 255);
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 7vh;
    border: solid 2px #000302;
    border-bottom: 20px;
    
}
.nome-promotor{
    position: absolute;
    top: 4px;
    left: 0px;
    color: aliceblue;
    text-shadow:  #000 -2px px 2px;
    color: rgb(0, 0, 0);
  
}
.lojas {
    font-size: 20px;
    display:flex;
    flex-direction:column ;
    background-color: white;
    overflow-y: scroll;

    


    
}

.flex-item {
    width: px;
    height:px;
    background: rgba(245, 245, 247, 0.753);
    margin: 3px;

}
.flex-item img{
    width:150px;
    height: 150px;
}
.flex-item h1{
    font-size: 15px;
}
.detalhes {
    position:absolute;
    left: 160px;
    
    

    
}
    